@charset "utf-8";
/* CSS Document */
 

.carousel-caption {
  /*bottom: 20px; This is the defaul*/  
  bottom: 25%;
}

/*!
* Change transition
*/
.carousel-fade .carousel-inner .item {
   -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.btn-transparent {
  color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}

.btn-transparent:hover {
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.75);
}
.carousel-inner > .item > img{width:100%;}
.carousel-control.left,.carousel-control.right{background:none;background:rgba(255,255,255,0.4);
padding: 40px;}
.carousel-control.left{border-bottom-right-radius:50%;border-top-right-radius:50%;}
.carousel-control.right{border-bottom-left-radius:50%;border-top-left-radius:50%;}
.carousel-control{opacity:1;text-shadow:none;bottom: auto;top:45%;width:7%;}
.carousel-control .glyphicon-chevron-left:before, .carousel-control .glyphicon-chevron-right:before{content:"";}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev,.carousel-control .glyphicon-chevron-right{top: 27px;}
.carousel-indicators {overflow:hidden;
    bottom:0;left:0;right:0;margin:0 auto;padding:0;}
.carousel-indicators li,.carousel-indicators .active{text-indent:0;margin:0;}
.carousel-indicators li,.carousel-indicators .active{background:rgba(255, 255, 255,0.9);height: auto !important;border-radius:0;border:0;position:relative;border-bottom: 1px solid #d1d2d0;}
@media(max-width:480px){.carousel-caption{top: -5%;}}
 


